body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  padding: 20px;
  margin: 0;
  padding: 0;
  color:white;
  font-family: Arial;
  background-image: url(n1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
}

.form {
  border-radius: 10px;
  width: 300px;
  border:2px solid rgb(15, 15, 15);
  backdrop-filter: blur(15px);
  padding:50px;
  padding-right:80px;
  margin: 4% auto;
  text-align: center;
  box-color: white;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #f70808;
}

.input-field {
  color: rgb(47, 43, 43);
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
  padding-left:30px;
  margin: 15px 0px;
  width: 100%;
  border: 1px solid #949090;
  outline: none;
}

.input-field:focus {
  border-color: #0099ff;
}

.input-field::placeholder {
  color: #0c0c0c;
}
.form h1{
   color: rgb(247, 247, 249);
   margin-bottom: 30px;
}
.check-box {
    background:white;
}
.signup-btn {
    margin-left:5%;
    background-color: skyblue;
    color: white;
  }
  .email-btn {
    margin-left:5%;
    background-color: blue;
    color: white;
  }
  hr {
    margin-top: 20px;
    margin-left:5%;
    width: 100%;
  }
  .or {
    background-color:black ;
    width: 30px;
    border-radius: 10px 10px;
    margin: -19px auto 10px;
  }
  button {
    color: blue;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    border: none;
  }
@media only screen and (max-width: 767px) {
    .sign-up {
        width: 80%;
        max-width: 400px;
        margin: 8% auto;
      }
    
      .sign-up h1 {
        font-size: 24px;
        margin-bottom: 20px;
      }
    .input-box{
        font-size: 14px;
        padding: 8px;
        margin: 8px 0;
    }
    button {
        font-size: 14px;
        padding: 10px;
      }
  }
  @media only screen and (max-width:400px){
    .sign-up {
        margin-top:50px;
        padding: 0px;
        margin-bottom:50px;
      }
    
      .sign-up h1 {
        font-size: 20px;
        margin-bottom: 20px;
      }
    
      .input-box {
        font-size: 12px;
        padding: 10px;
        margin: 15px 0;
      }
    
      button {
        font-size: 12px;
        padding: 8px;
      }
}
